@model ProductMVC1.Models.productmvc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product MVC details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prodname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prodname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proddesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proddesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorymvc.catname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorymvc.catname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prodid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
